.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: yellow;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 15px solid yellow ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter, .blankSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    font-size: 50px; 
    text-transform: uppercase;
    border: black 3px solid;
    color: black;
    background-color: white;
}

.letterContainer p {
    margin-bottom: 1.5em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 10px 10px;
}

.letterContainer input {
    border: 3px solid black;
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.wrongLettersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrongLettersContainer span {
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
}